

.content {
    background-image: url('/images/enigmas/20.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 100%;
    max-width: 691px;
    height: 563px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
