

.content {
    display: flex;
    align-items: center;

    p {
        color: var(--color-gray);
        font-size: 1rem;
    }
}

.image {
    position: relative;

    .button-1,
    .button-2,
    .button-3 {
        position: absolute;
        width: 6.2%;
        height: 6.7%;
        z-index: 10;
        border: 0;
        background-color: transparent;
    }

    .button-1 {
        left: 30%;
        top: 25.5%;
    }

    .button-2 {
        left: 64.7%;
        top: 25.5%;
    }

    .button-3 {
        left: 47%;
        top: 56%;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
