.container {
  margin-bottom: var(--space-16x);
  color: var(--gray);
  max-width: 1400px;
}

@media (min-width: 600px) {
  .container {
    padding: 0 3rem;
    margin: 0 auto;
  }
}

.date {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: var(--body-color);
}

@media (min-width: 600px) {
  .date {
    font-size: 32px;
  }
}

.hr {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0;
  margin: var(--space-16x) 0;
}

.card {
  max-width: 1400px;
  margin: var(--space-16x) auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.images {
  display: flex;
  justify-content: flex-start;
}

.images img {
  border-radius: 20px;
  margin-right: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  margin: var(--space-8x) var(--space-8x) var(--space-4x);
}

@media (min-width: 600px) {
  .details {
    flex-direction: row;
    justify-content: space-between;
  }
}

.card h2 {
  margin: var(--space-4x) var(--space-8x);
  font-size: 28px;
  line-height: 38px;
  color: #fff;
  text-transform: uppercase;
}

.card h2 a {
  color: #fff;
}

@media (min-width: 600px) {
  .card h2 {
    font-size: 40px;
    line-height: 50px;
  }
}

.card p {
  margin: var(--space-4x) var(--space-8x) 2rem;
}

.reactions {
  justify-content: flex-start;
  margin: var(--space-4x) var(--space-8x) var(--space-8x);
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
}

.footerDetails {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: var(--space-6x) var(--space-8x);
}

@media (min-width: 850px) {
  .footer {
    flex-direction: row;
  }

  .footerDetails {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footerDetails strong {
  color: #fff;
}

.footerDetails a {
  color: var(--gray);
  text-decoration: underline;
}

.footerDetails a:hover {
  color: var(--brand);
}

.button {
  color: white;
  background-color: var(--brand);
  padding: var(--space-6x) var(--space-12x);
  transition: all 0.2s ease;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 300px;
  text-align: center;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--brand);

  transition: all 0.2s ease;
  box-shadow: 0 3.88px 18.81px 0 rgb(255, 0, 255);
}

.disabledButton {
  color: white;
  background-color: var(--gray);
  padding: var(--space-6x) var(--space-12x);
  transition: all 0.2s ease;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  min-width: 300px;
  text-align: center;
}
