@import '/styles/colors';

.image {
    position: relative;

    .button {
        position: absolute;
        width: 10.3%;
        height: 4.5%;
        z-index: 10;
        border: 0;
        background-color: transparent;
        left: 72.7%;
        top: 49.8%;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
