@import '/styles/media-queries';

.page {
    padding-top: 6.25rem;

    @media #{$breakpoint-sm} {
        padding-top: 7.5rem;
    }

    @media #{$breakpoint-lg} {
        padding-top: 6.25rem;
    }
}

.no-padding {
    padding-top: 0;
}
