@import '/styles/media-queries';
@import '/styles/colors';

.section {
    text-align: center;

    h2 {
        text-transform: uppercase;

        @media #{$breakpoint-sm} {
            margin-bottom: 5rem;
        }
    }

    a {
        color: $main-gray-dark;
    }
}
