@import 'styles/media-queries';

.card {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
        opacity: 1;
    }

    @media #{$breakpoint-sm} {
        opacity: 0.7;
        &:nth-child(3n) {
            transform: translateY(10rem);
        }
    }
}
