@import 'styles/media-queries';

.wrapper {
    background-color: var(--color-white);
    text-align: center;
}

.grid {
    padding: 4rem 2rem;

    @media #{$breakpoint-sm} {
        padding: 8rem 0;
    }
}

.title {
    text-align: center;
    color: var(--color-dark-gray);

    span {
        color: var(--color-dark-gray);
    }

    .caps {
        text-transform: capitalize;
    }
}

.sponsor {
    display: inline-block;
    max-width: 45%;
    margin: 0.5rem 2.5%;

    @media #{$breakpoint-sm} {
        margin: 0.5rem 2.5rem;
    }
}

.hr {
    width: 5rem;
    display: block;
    background: var(--color-light-gray);
    margin: 3rem auto;
    border: 0;
}

.people {
    ul {
        padding: 0;
        margin: 0;
    }

    a {
        color: var(--color-gray);

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer {
    padding-bottom: 3rem;
    padding-top: 2rem;
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    text-align: center;

    @media #{$breakpoint-sm} {
        text-align: left;
    }
}

.footer a {
    text-decoration: underline;
    color: var(--color-dark-gray);
}

.social {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;

    @media #{$breakpoint-sm} {
        justify-content: flex-end;
    }
}

.icon {
    background-color: var(--color-dark-gray);
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.vercel {
    padding: 1rem 0;
    text-align: center;

    @media #{$breakpoint-sm} {
        text-align: right;
    }
}
