@import 'styles/colors';
@import 'styles/media-queries';

.wrapper {
  background-color: $white;
  text-align: center;
  padding-top: 4rem;

  @media #{$breakpoint-sm} {
    padding-top: 8rem;
  }
}

.title {
  text-align: center;
  color: $black;
}

.sponsor {
  display: inline-block;
  max-width: 50%;
}

.footer {
  margin-top: 4rem;
  padding-top: 2rem;
  background-color: lighten($light-gray, 18%);
  color: $black;
  text-align: center;

  @media #{$breakpoint-sm} {
    text-align: left;
    margin-top: 8rem;
  }
}

.footer a {
  text-decoration: underline;
  color: $black;
}

.social {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1rem;

  @media #{$breakpoint-sm} {
    justify-content: flex-end;
  }
}

.icon {
  background-color: $black;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.vercel {
  padding: 1rem 0;
  text-align: center;

  @media #{$breakpoint-sm} {
    text-align: right;
  }
}
