@import '/styles/media-queries';

$grid-gutter: 2rem;
$grid-columns: 12;

.grid {
  display: grid;
  grid-template-columns: repeat(#{$grid-columns}, 1fr);
  column-gap: $grid-gutter;
  row-gap: $grid-gutter;
  padding: 0 $grid-gutter;
  margin: 0 auto;
  width: 100%;
  max-width: $max-width-xsm;

  &--align-start {
    align-items: flex-start;
  }

  &--align-center {
    align-items: center;
  }

  &--align-end {
    align-items: flex-end;
  }

  @media #{$breakpoint-sm} {
    max-width: $max-width-sm;
  }

  @media #{$breakpoint-lg} {
    max-width: $max-width-lg;
  }
}

.column {
  @for $i from 1 through 3 {
    &.order-xsm-#{$i} {
      grid-row: #{$i};

      @media #{$breakpoint-lg} {
        grid-row: auto;
      }
    }

    &.order-sm-#{$i} {
      @media #{$breakpoint-sm} {
        grid-row: #{$i};
      }
    }
  }

  &.col-xsm-0 {
    display: none;

    @media #{$breakpoint-sm} {
      display: block;
    }
  }

  &.col-sm-0 {
    @media #{$breakpoint-sm} {
      display: none;
    }

    @media #{$breakpoint-lg} {
      display: block;
    }
  }

  &.col-lg-0 {
    @media #{$breakpoint-lg} {
      display: none;
    }
  }

  @for $i from 1 through $grid-columns {
    &.col-xsm-#{$i} {
      grid-column-end: span #{$i};
    }
  }

  @for $i from 1 through $grid-columns {
    &.col-sm-#{$i} {
      @media #{$breakpoint-sm} {
        grid-column-end: span #{$i};
      }
    }
  }

  @for $i from 1 through $grid-columns {
    &.col-lg-#{$i} {
      @media #{$breakpoint-lg} {
        grid-column-end: span #{$i};
      }
    }
  }
}
