@import 'styles/media-queries';

.blocks {
    margin: 4rem auto;

    @media #{$breakpoint-lg} {
        margin: 8rem auto;
    }
}

.title {
    text-align: center;

    span {
        color: var(--color-primary);
    }

    @media #{$breakpoint-lg} {
        max-width: 50%;
        margin: 0 auto 5rem;
    }
}

.block {
    background-color: var(--color-black-60);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(202, 206, 210, 0.2);
    height: 23rem;
    border-radius: 1.25rem;
    padding: 1.8rem;

    &-lg-6 {
        @media #{$breakpoint-lg} {
            p {
                max-width: 60%;
            }
        }
    }

    h3 {
        font-family: var(--heading-font-face);
        margin-bottom: 0.5rem;
    }
}

.countdown {
    height: auto;
    display: flex;
    flex-direction: column;

    @media #{$breakpoint-sm} {
        flex-direction: row;
        align-items: center;
    }

    h3 {
        color: var(--color-primary);
        margin-bottom: 0;
        font-size: 1.5rem;
    }

    p {
        font-size: 1.25rem;
        color: var(--color-gray);

        span {
            color: var(--color-primary);
        }
    }

    .numbers {
        display: flex;
        gap: 1rem;
        text-align: center;
        color: var(--color-gray);
        margin-top: 2rem;

        @media #{$breakpoint-sm} {
            margin-left: auto;
            margin-top: 0;
            gap: 2rem;
        }

        strong {
            font-size: 2.5rem;
            line-height: 1;
            font-family: var(--heading-font-face);
            display: block;
            color: var(--color-white);
        }

        span {
            &:last-child {
                display: none;

                @media #{$breakpoint-sm} {
                    display: inline;
                }
            }
        }
    }
}

.video {
    height: auto;
    padding: 0;
    border-radius: 0;

    @media #{$breakpoint-sm} {
        border-radius: 1.25rem;
        padding: 1.8rem;
    }

    &-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
