@import 'styles/media-queries';

.blocks {
    margin: 4rem auto;

    @media #{$breakpoint-lg} {
        margin: 8rem auto;
    }
}

.title {
    text-align: center;

    span {
        color: var(--color-primary);
    }

    @media #{$breakpoint-lg} {
        max-width: 70%;
        margin: 0 auto 5rem;
    }
}

.block {
    background-color: var(--color-black-60);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(202, 206, 210, 0.2);
    height: 23rem;
    border-radius: 1.25rem;
    padding: 1.8rem;

    &-lg-6 {
        @media #{$breakpoint-lg} {
            p {
                max-width: 75%;
            }
        }
    }

    h3 {
        font-family: var(--heading-font-face);
        margin-bottom: 0.5rem;
    }
}

.video {
    height: auto;
    padding: 0;
    border-radius: 0;

    @media #{$breakpoint-sm} {
        border-radius: 1.25rem;
        padding: 1.8rem;
    }

    &-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
