@import '/styles/media-queries';

.title {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    text-align: center;

    @media #{$breakpoint-sm} {
        font-size: 5rem;
    }

    span {
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 5px;
            border-radius: 2rem;
            background: radial-gradient(
                88% 127% at 13% 13%,
                rgba(42, 168, 208, 1) 0%,
                rgba(250, 191, 165, 1) 32%,
                rgba(252, 244, 171, 1) 56%,
                rgba(93, 247, 164, 1) 76%,
                rgba(88, 208, 246, 1) 100%
            );
        }
    }
}

.subtitle {
    color: var(--color-gray);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;

    @media #{$breakpoint-sm} {
        font-size: 1.25rem;
    }

    @media #{$breakpoint-lg} {
        margin: 0 10rem;
    }
}
