

.image {
    position: relative;

    .button-1,
    .button-2,
    .hover {
        position: absolute;
        z-index: 10;
        border: 0;
        background-color: transparent;
    }

    .button-1,
    .hover {
        width: 13.2%;
        height: 26%;
        left: 80.4%;
        top: 7.7%;
    }

    .button-2 {
        width: 13.9%;
        height: 19.8%;
        left: 43.6%;
        top: 53.9%;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
