.activity {
    position: relative;
    z-index: 100;
    display: flex;
    height: 100%;
    flex-direction: column;
    background: var(--color-black);
    border: 1px solid #333;
    border-radius: 16px;
    font-family: 'DM Sans';

    &.soon {
        border: 1px dashed var(--color-gray);
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;

        time {
            color: var(--color-gray);
            background-color: #1e1e1e;
            display: inline-block;
            padding: 5px 10px;
            text-transform: uppercase;
            border-radius: 4px;
            font-size: 0.85rem;
            font-weight: bold;
        }
    }

    .title {
        display: block;
        font-weight: bolder;
        color: #fff;
        font-size: 1.35rem;
        margin-bottom: 1.5rem;

        &[href]:hover {
            text-decoration: underline;
        }
    }

    .soon {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        min-height: 12rem;
        background-color: var(--color-background);
        border-radius: 16px;
        color: var(--color-gray);
    }

    .content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1rem;
    }

    .footer {
        display: flex;
        margin-top: auto;
    }

    .speaker_image {
        flex: 1;
        max-width: 3rem;
        margin-right: 0.625rem;

        img {
            border-radius: 50%;
        }
    }

    &.sponsored,
    &.featured {
        border: 1px solid var(--color-primary);

        .content {
            background-color: var(--color-black);
            border-radius: 16px;
        }
    }
}

.hackathon {
    display: none;
}
