@import 'styles/colors';

.activity {
  position: relative;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    * {
      color: $light-gray;
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    *:first-child {
      color: $light-green;
      font-weight: bold;
      letter-spacing: 0.2em;
    }
  }

  .title {
    display: block;
    color: #fff;
    font-size: 1.25rem;
    margin-bottom: 2.5rem;

    &[href]:hover {
      text-decoration: underline;
    }
  }

  .content {
    border: 1px solid $light-green;
    padding: 1rem;

    & > .button {
      position: absolute;
      bottom: 1px;
      right: 1px;
    }
  }

  .footer {
    display: flex;
  }

  .speaker_image {
    flex: 1;
    max-width: 2rem;
    margin-right: 0.625rem;

    img {
      border-radius: 50%;
    }
  }
}
