@import 'styles/media-queries';

.ticket {
    position: relative;
    width: 100%;
    padding-top: 209%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 48%;

    &.theme-digital {
        background-image: url('/images/ticket/ticket-digital.svg');
    }

    &.theme-summit {
        background-image: url('/images/ticket/ticket-summit.svg');
    }

    &.theme-feature {
        background-image: url('/images/ticket/ticket-feature.svg');
    }
}

.avatar {
    border-radius: 100%;
    background-color: var(--color-primary);
    position: absolute;
    width: 14.25%;
    left: 10%;
    top: 15.75%;

    img {
        width: 100%;
        border-radius: 100%;
    }
}

.name {
    width: 56%;
    top: 22%;
    left: 29%;
    position: absolute;

    .title {
        width: 75%;
        font-weight: bold;
        font-family: 'Big Shoulders Text';
        text-transform: uppercase;
        font-size: 18px;
    }

    .username {
        width: 75%;
    }
}

.number {
    position: absolute;
    font-family: 'Big Shoulders Text';
    font-size: 24px;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    top: 35%;
    left: auto;
    right: -2%;
    width: 35%;
    color: var(--color-black);
    font-weight: bold;
    text-align: center;
}
