
@import 'styles/media-queries';

.testimonial {
  background-color: var(--color-primary);
  padding: 2rem;

  @media #{$breakpoint-sm} {
    padding: 3rem;
  }

  p {
    color: var(--color-dark-gray);
    font-size: 1rem;

    @media #{$breakpoint-sm} {
      font-size: 1.25rem;
      line-height: 1.8;
      letter-spacing: 0.1rem;
    }
  }

  .image {
    text-align: right;
    display: block;
  }
}
