@import '/styles/colors';

.bg {
    background-image: url('/images/2022/enigmas/22.jpg');
    background-position: top center;
}

.content {
    text-align: center;
    max-width: 40%;

    p {
        margin-bottom: 2rem;
        color: $white;
    }
}
