@import 'styles/media-queries';
@import 'styles/colors';

.section {
  background-color: $dark-green;
  color: $black;
  padding: 4rem 0;
  margin: 0;

  @media #{$breakpoint-sm} {
    padding: 0;
  }

  h2 {
    color: $white;

    strong {
      color: $primary;
    }
  }

  p {
    margin-bottom: 1rem;

    @media #{$breakpoint-lg} {
      margin-bottom: 3rem;
    }
  }
}

.image {
  &__wrapper {
    background-color: $dark-green;
    display: flex;
  }
}
