.wrapper {
  max-width: 1200px;
  margin: 0 auto 0;
  padding: 0 2rem 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 7rem;
}

.container img {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
    align-items: center;
  }

  .container:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
  }

  .container:nth-child(2n) .text {
    margin-left: auto;
  }
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #9c007f;
}

.subtitle {
  font-size: 1.5rem;
  color: #9c007f;
  font-weight: normal;
}

.text {
  line-height: 2;
  max-width: 90%;
}

.green {
  color: #2bd376;
}
