.talkContainer {
    margin-bottom: 2rem;
}

.day-title {
    position: sticky;
    top: 4.5rem;
    z-index: 800;
    background-color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 8px;
}

.hour {
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    margin: 1rem 0;
    padding: 1rem 0;
    font-family: 'DM Sans';
    position: sticky;
    top: 7rem;
    z-index: 600;
    background-color: var(--color-background);

    &:after {
        height: 2px;
        background-color: #333;
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 3.5rem;
        right: 0;
    }
}

.live {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-left: 1rem;
    background-color: var(--color-primary);
    z-index: 10;
    color: #fff;
    display: inline-block;
    padding: 0.25rem 2rem;
    border-radius: 5rem;
    text-transform: uppercase;
}

.like {
    position: absolute;
    bottom: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #999;
    font-weight: bold;
    background-color: #333;
    padding: 0.5rem;
    border-radius: 8px;

    svg {
        path {
            fill: #999;
        }
    }

    &.liked {
        background-color: rgba(#c594ff, 50%);
        color: var(--color-white);

        svg {
            path {
                fill: var(--color-white);
            }
        }
    }
}
