@import 'styles/colors';
@import 'styles/media-queries';

.wrapper {
    text-align: center;
    border-top: 1px solid $main-black;
}

.grid {
    padding: 4rem 2rem;

    @media #{$breakpoint-sm} {
        padding: 8rem 0;
    }
}

.title {
    text-align: center;
    color: $white;
}

.sponsor {
    display: inline-block;
    max-width: 50%;
    margin: 0.5rem 0;

    @media #{$breakpoint-sm} {
        margin: 0.5rem 2.5rem;
    }
}

.hr {
    width: 5rem;
    height: 5px;
    display: block;
    background: lighten($light-gray, 15%);
    margin: 5rem auto;
    border: 0;
}

.footer {
    padding: 2rem 0;
    color: $main-gray-dark;
    text-align: center;

    @media #{$breakpoint-sm} {
        text-align: left;
    }
}

.footer a {
    text-decoration: underline;
    color: $main-gray-dark;
}

.social {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;

    @media #{$breakpoint-sm} {
        justify-content: flex-end;
    }
}

.icon {
    background-color: $black;
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.vercel {
    text-align: center;

    @media #{$breakpoint-sm} {
        text-align: right;
    }
}
