.error {
  color: red;
}

.form {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.input {
  font-size: 2rem;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  font-family: var(--font-default);
}

.input:focus,
.input:active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.03);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.button {
  font-family: var(--font-default);
  border: 0;
  background-color: var(--brand);
  box-shadow: 0 1.88px 18.81px 0 rgba(238, 242, 83, 0.3);
  padding: 1.3rem 5rem;
  color: var(--body-color);
  margin: 2rem auto;
  display: inline-block;
  text-align: center;
  transition: all ease 0.2s;
  white-space: nowrap;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover:not([disabled]):not(.button--secondary) {
  box-shadow: 0 3.88px 18.81px 0 rgba(238, 242, 83, 0.7);
}

.button:disabled {
  background-color: rgba(238, 242, 83, 0.5);
  box-shadow: none;
  cursor: default;
}

.button--secondary {
    position: relative;
    background: none;
    box-shadow: none;
    color: var(--accents-1);
}
.button--secondary:hover {
    text-decoration: underline;
}