.header {
  width: 90%;
  max-width: 900px;
  margin: 4rem auto;
}

.wrapper {
  display: block;
  text-align: center;
}

.hero {
  font-family: 'nebularegular';
  font-size: 28px;
  line-height: 1;
  margin: var(--space-8x) auto var(--space-2x) auto;
  color: white;
  text-align: center;
  max-width: 90%;
  position: relative;
  display: inline-block;
  font-weight: 400;
}

.hero::before {
  content: '';
  display: block;
  width: 100%;
  height: 7px;
  background-color: #fff;
  position: absolute;
  bottom: -16px;
  left: 0;
  border-radius: 7px;
  background: linear-gradient(270deg, #9c007f 55.41%, rgba(156, 0, 127, 0) 97.97%);
}

.description {
  font-size: var(--text-md);
  line-height: 1.4;
  margin: var(--space-8x) auto;
  max-width: 90%;
  text-align: center;
}

@media (min-width: 908px) {
  .hero {
    font-size: 42px;
    margin: var(--space-16x) auto var(--space-8x);
  }

  .description {
    font-size: 20px;
    margin-bottom: var(--space-16x);
    max-width: 1200px;
  }
}
