.container {
  padding: var(--space-16x) 0;
  color: var(--gray);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 10rem;
}

@media (min-width: 850px) {
  .container {
    padding: 0 3rem;
  }
}

.grid {
  display: flex;
  flex-direction: column;
}

@media (min-width: 850px) {
  .grid {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 10%;
  }
}

.place {
  padding: 0.5rem;
  border-left: 1px solid #323232;
  display: none;
}

@media (min-width: 850px) {
  .place {
    display: block;
  }
}

.place span {
  background: white;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--body-color);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3rem;
  text-align: center;
}

@media (min-width: 1100px) {
	.place span {
    font-size: 1.25rem;
  }
}

.hour {
  height: 450px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 850px) {
  .hour {
    display: flex;
  }
}

.bigHour,
.mediumHour,
.hiddenHour {
  height: 0;
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
}

.mediumHour {
  color: #323232;
}

.bigHour {
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

.bigHour::before {
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: #323232;
  position: absolute;
  top: 0;
  right: 0;
}

.mediumHour::before {
  content: "";
  display: block;
  width: 25px;
  height: 1px;
  background: #323232;
  position: absolute;
  top: 0;
  right: 0;
}

.hour > div:last-child::before {
  top: auto;
  bottom: -1px;
}


.talkContainer {
  border-left: 1px solid #323232;
  border-top: 1px solid #323232;
  position: relative;
  height: 300px;
}

@media (min-width: 850px) {
  .talkContainer {
    height: 450px;
  }

  .talkContainerMiddle {
    padding-top: 150px;
  }
}

.talkContainerLunch {
	grid-column: 2 / 5;
	grid-row: 4;
	padding: 0.5rem;
}

.talkContainerHappyHour {
	grid-column: 2 / 5;
	grid-row: 8;
	padding: 0.5rem;
}

.bgTalkContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bgTalkContainer span {
  border-top: 1px solid #323232;
  height: 0;
}

.bgTalkContainer span:first-child,
.bgTalkContainer span:last-child {
  border-top: 0;
}

.workshops {
	grid-column: 5;
	grid-row: 2 / 4;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 1rem;
  display: none;
}

.workshopsAfternoon {
	grid-column: 5;
	grid-row: 5 / 7;
	font-size: 24px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding: 1rem;
  display: none;
}

@media (min-width: 850px) {
  .workshops,
  .workshopsAfternoon {
    display: block;
  }
}

@media (min-width: 1100px) {
  .workshops,
  .workshopsAfternoon {
    font-size: 24px;
  }
}

.workshopsBg {
	background-color: rgba(155, 155, 155, 0.15);
	color: white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	clip-path: 
	polygon(
	  0% 0%,     /* top left */
	  0% 0%,     /* top left */
	  70% 0%,    /* top right */
	  100% 3%,   /* top right */
	  100% 100%,  /* bottom right */
	  100% 100%,  /* bottom right */
	  30% 100%,   /* bottom left */
	  0 97%      /* bottom left */
	);
}

.workshopsBg a {
	writing-mode: tb-rl;
	transform: rotate(-180deg);
}

.intervalCard {
	background: rgb(51,50,50);
	background: linear-gradient(130deg, rgba(51,50,50,1) 0%, rgba(28,28,28,1) 100%);
	height: 100%;
	position: relative;
	z-index: 10;
	padding: 1rem;

	clip-path: 
	polygon(
	  0% 5%,     /* top left */
	  0% 0%,     /* top left */
	  95% 0%,    /* top right */
	  100% 10%,   /* top right */
	  100% 100%,  /* bottom right */
	  100% 100%,  /* bottom right */
	  5% 100%,   /* bottom left */
	  0 90%      /* bottom left */
	);
}

.happyCard {
	background-image: url('/happy.gif');
	background-size: 100% auto;
	background-position: center;
}

.intervalCard h2 {
	color: white;
	font-weight: normal;
	margin-top: 1rem;
}

.intervalHour {
	padding: 0.5rem;
	height: 32px;
	background: var(--body-color);
	color: white;
	display: inline-flex;
	align-items: center;
	font-size: 12px;
}

.toastContainer,
.toastBody {
  padding: 0;
  display: none;
}

@media (min-width: 850px) {
  .toastContainer {
    display: flex;
  }

  .toastBody {
    display: block;
  }
}


.toast {
  display: grid;
  grid-template-columns: 100px 1fr;
  background-size: auto 260px;
  background-repeat: no-repeat;
  background-position: -60px center;
  align-items: center;
}

.toastImage {
  height: 160px;
  width: 100%;
}

.toastBalloon {
  height: 110px;
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 50px;
  background: url('/balloon-white.png') center no-repeat;
  color: var(--body-color);
  font-family: 'IBM Plex Mono', monospace;
  font-size: .7rem;
}

.toastYellow {
  background: url('/balloon-yellow.png') center no-repeat;
}

.toastPurple {
  background:  url('/balloon-purple.png') center no-repeat;;
}