.background {
	width: 1080px;
	height: 1920px;
	background: url('/images/speaker-stories.png');
	color: #fff;
	overflow: hidden;
	position: relative;
  }

  .box {
	width: 590px;
	height: 590px;
	position: absolute;
	background-position: center;
	background-size: 100% auto;
	z-index: 0;

	clip-path: 
	polygon(
	  0% 0%,     /* top left */
	  0% 0%,     /* top left */
	  85% 0%,    /* top right */
	  100% 15%,   /* top right */
	  100% 100%,  /* bottom right */
	  100% 100%,  /* bottom right */
	  15% 100%,   /* bottom left */
	  0 85%      /* bottom left */
	);

	transition: all ease .5s;

	top: 200px;
	left: 50%;

	transform: translateX(-50%);
}

.triangle {
	background-image: url('/images/triangle-right.png');
	background-repeat: no-repeat;
	background-position: center left;
	background-size: 559px auto;
	width: 310px;
	height: 650px;
	position: absolute;
	z-index: 100;
	top: 170px;
	right: 0;
}

.name {
	font-size: 100px;
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
	z-index: 100;
	left: 100px;
	right: 100px;
	top: 700px;
	height: 700px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}