.background {
	width: 1500px;
	height: 1500px;
	background: url('/images/speaker-square.png');
	color: #fff;
	overflow: hidden;
	position: relative;
  }

  .box {
	width: 700px;
	height: 700px;
	position: absolute;
	background-position: center;
	background-size: 100% auto;
	z-index: 0;

	clip-path: 
	polygon(
	  0% 0%,     /* top left */
	  0% 0%,     /* top left */
	  85% 0%,    /* top right */
	  100% 15%,   /* top right */
	  100% 100%,  /* bottom right */
	  100% 100%,  /* bottom right */
	  15% 100%,   /* bottom left */
	  0 85%      /* bottom left */
	);

	transition: all ease .5s;

	top: 150px;
	left: 100px;
}

.triangle {
	background-image: url('/images/triangle-left.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 310px;
	height: 595px;
	position: absolute;
	z-index: 100;
	top: 205px;
	left: 700px;
}

.name {
	font-size: 100px;
	line-height: 1;
	text-transform: uppercase;
	position: absolute;
	z-index: 100;
	left: 800px;
	top: 150px;
	height: 700px;
	display: flex;
	align-items: center;
	width: 600px;
}