.background {
	width: 1500px;
	height: 1500px;
	background: url('/images/sponsor-square.png');
	color: #fff;
	overflow: hidden;
	position: relative;
  }

  .image {
	position: absolute;
	top: 280px;
	left: 50%;
	transform: translateX(-50%);
  }