.background {
	width: 2000px;
	height: 1000px;
	background: url('/images/sponsor.png');
	color: #fff;
	overflow: hidden;
	position: relative;
  }

  .image {
	  position: absolute;
	  top: 50%;
	  left: 190px;
	  transform: translateY(-50%);
  }