.background {
	width: 1080px;
	height: 1920px;
	background: url('/images/sponsor-stories.png');
	color: #fff;
	overflow: hidden;
	position: relative;
  }

  .image {
	position: absolute;
	top: 400px;
	left: 50%;
	transform: translateX(-50%);
  }