.section {
  padding-top: var(--space-12x);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--space-12x);
  align-items: center;
}

@media (min-width: 850px) {
  .container {
      padding: 0 var(--space-8x);
      max-width: 1200px;
  }
}


.type-panel span {
	background: var(--brand);
}

.type-talk span {
	background: var(--brand-secondary);
}

.talkType {
	margin: 0;
	margin-bottom: 1rem;
}

.talkType span {
	margin: 0;
	padding: 0.5rem;
	text-transform: uppercase;
	font-size: 12px;
	color: var(--body-color);
	letter-spacing: 1px;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  max-width: 800px;
}

@media (min-width: 850px) {
  .title {
    font-size: 54px;
  }
}

.photo {
  flex-shrink: 0;
  display: flex;
  gap: var(--space-8x);
  align-items: flex-start;
  text-align: center;
  text-transform: uppercase;
  color: var(--brand);
  letter-spacing: 1px;
  line-height: 1;
}

.photo img {
  max-width: 100%;
  clip-path: 
	polygon(
	  0% 0%,     /* top left */
	  0% 0%,     /* top left */
	  90% 0%,    /* top right */
	  100% 10%,   /* top right */
	  100% 100%,  /* bottom right */
	  100% 100%,  /* bottom right */
	  10% 100%,   /* bottom left */
	  0 90%      /* bottom left */
	);
}

.speaker {
  max-width: 140px;
  color: var(--brand);
}

.reactions {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.date {
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.description {
  font-size: 14px;
  margin-top: 4rem;
  max-width: 700px;
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 850px) {
  .description {
    font-size: 20px;
  }
}


.buttonsGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

@media (min-width: 850px) {
  .buttonsGrid {
    margin-bottom: 0;
    gap: 2rem;
    flex-direction: row;
  }
}