@import '/styles/media-queries';

.grid {
    display: grid;
    grid-template-areas:
        'digital digital'
        'summit summit'
        'feature feature'
        'dvlpr dvlpr'
        'newsletter newsletter'
        'instagram twitter';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 15rem 15rem 25rem 15rem 10rem;
    gap: 1rem;

    @media #{$breakpoint-sm} {
        grid-template-areas:
            'digital summit feature feature'
            'dvlpr dvlpr instagram twitter'
            'dvlpr dvlpr newsletter newsletter';
        grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
        grid-template-rows: 16rem 10rem 16rem;
    }
}

.block {
    background-color: var(--color-black-60);
    border: 1px solid rgba(202, 206, 210, 0.2);
    border-radius: 1.25rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    transition: all ease 0.2s;

    @media #{$breakpoint-lg} {
        padding: 2rem;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 0;
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 0.9rem;
        margin: 0;
        color: var(--color-white);
    }

    &:hover {
        transform: scale(105%);
        box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05), 100px 100px 80px rgba(0, 0, 0, 0.07);
        transition: all ease 0.2s;
        z-index: 200;
    }
}

.digital {
    grid-area: digital;
    background-image: url('/images/digital/hero/hero-digital.jpg');

    p {
        color: var(--color-white);
    }
}

.papers-digital {
    grid-area: papersdigital;
    background-image: url('/images/digital/hero/hero-digital.jpg');
    background-size: 200%;

    h3 {
        margin-top: 0;
    }
}

.summit {
    grid-area: summit;
    background-image: url('/images/summit/hero/hero-summit.jpg');

    p {
        color: var(--color-white);
    }
}

.papers-summit {
    grid-area: paperssummit;
    background-image: url('/images/summit/hero/hero-summit.jpg');
    background-size: 200%;
    font-weight: bold;

    h3 {
        margin-top: 0;
    }
}

.feature {
    grid-area: feature;
    background-image: url('/images/feature/hero/hero-feature.jpg');

    p {
        color: var(--color-white);
    }
}

.dvlpr {
    grid-area: dvlpr;
    background-image: url('/images/bg-dvlpr.png');
    justify-content: flex-start;
    padding-top: 3rem;
    background-size: auto 60%;
    background-position: center bottom;

    @media #{$breakpoint-sm} {
        padding-top: 2rem;
        justify-content: center;
        align-items: flex-start;
        background-position: 230px bottom;
        background-size: auto 120%;

        p {
            max-width: 40%;
            text-align: left;
        }
    }

    @media #{$breakpoint-lg} {
        background-position: 250px bottom;
        background-size: auto 100%;

        p {
            max-width: 35%;
        }
    }
}

.newsletter {
    grid-area: newsletter;
}

.instagram {
    grid-area: instagram;
    background-image: url('/images/instagram.svg');
    background-size: 50% auto;
    background-position: center bottom;
    justify-content: flex-start;

    h3 {
        margin-top: 0;
    }
}

.twitter {
    grid-area: twitter;
    background-image: url('/images/twitter.svg');
    background-size: 50% auto;
    justify-content: flex-start;
    background-position: center bottom;

    h3 {
        margin-top: 0;
    }
}
