@import 'styles/media-queries';

.card {
  margin-bottom: 3rem;

  &--last {
    margin-bottom: 0;
  }

  @media #{$breakpoint-lg} {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 1rem;

    @media #{$breakpoint-lg} {
      margin-bottom: 3rem;
    }
  }
}
