@import 'styles/media-queries';

.header {
  margin: 4rem 0;

  @media #{$breakpoint-sm} {
    margin: 8rem 0;
  }
}

.image {
  &__wrapper {
    display: flex;
    align-items: center;
    min-height: 18.75rem;

    @media #{$breakpoint-sm} {
      margin-bottom: 4rem;
    }

    @media #{$breakpoint-lg} {
      margin-bottom: 0;
    }
  }
}

.button {
  &__wrapper {
    display: block;
    margin-top: 2rem;
  }
}
