@import 'styles/media-queries';

.image {
  &__wrapper {
    display: block;
    margin-bottom: 2rem;

    @media #{$breakpoint-sm} {
      margin-bottom: 4rem;
    }

    @media #{$breakpoint-lg} {
      margin-bottom: 0;
    }
  }
}

.button {
  &__wrapper {
    display: block;
    margin-top: 2rem;
  }
}
