@import 'styles/media-queries';

.section {
  margin: 2rem 0;

  @media #{$breakpoint-sm} {
    margin: 5rem 0;
  }
}

.image {
  display: block;
  margin-bottom: 2rem;

  &__wrapper {
    @media #{$breakpoint-sm} {
      margin-left: auto;
      max-width: 85%;
    }
  }
}

.button {
  &__wrapper {
    display: block;
    margin-top: 2rem;
  }
}
