@import 'styles/colors';

.default_bg {
  background: url('/images/patrocinadores/sponsor-default-bg.png') no-repeat;
  width: 1200px;
  height: 675px;
}

.stories_bg {
  background: url('/images/patrocinadores/sponsor-stories-bg.png') no-repeat;
  background-position-y: -400px;
}

.sponsor_image_stories {
  width: 1080px;
  height: 1920px;
  margin: 0 auto;

  .sponsor_logo {
    text-align: center;
    padding-top: 130px;

    .sponsor {
      margin-bottom: 0;
    }
  }

  .content {
    margin: 0 auto;
    width: max-content;
    text-align: center;
    padding: 100px;

    > * {
      margin: 0 auto;
    }
  }

  .info {
    margin-top: 150px;

    > *:first-child {
      margin: 50px auto;
    }

    > * {
      margin: 0 auto;
      font-size: 38px;
    }
  }
}

.sponsor_image_default {
  display: grid;
  grid-template-columns: 558px auto;
  padding: 50px;
  grid-gap: 100px;

  > *:first-child {
    margin: 0 auto;
  }

  .sponsor_logo {
    width: max-content;
  }

  .info {
    margin-top: 30px;
    margin-bottom: 74px;
    font-size: 30px;

    > * {
      font-size: 30px;
      margin: 0;
    }
  }
}

.local {
  color: $dark-gray;
}

.date {
  color: $white;
}

.sponsor {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: $white;
}
