@import 'styles/media-queries';
@import 'styles/colors';

.section {
  background-color: $primary;
  color: $black;
  padding-bottom: 1rem;

  @media #{$breakpoint-sm} {
    padding-bottom: 0;
  }

  p {
    font-size: 1.5rem;
    margin-top: 2rem;

    @media #{$breakpoint-sm} {
      max-width: 85%;
      margin-left: auto;
      margin-top: 0;
    }

    @media #{$breakpoint-lg} {
      margin-top: 5.5rem;
    }

    strong {
      color: $white;
    }
  }
}

.grid {
  @media #{$breakpoint-sm} {
    align-items: center;
  }

  @media #{$breakpoint-lg} {
    align-items: flex-start;
  }
}

@keyframes circle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  &__wrapper {
    display: flex;
    position: relative;
  }

  &__badge {
    display: none;

    @media #{$breakpoint-sm} {
      display: block;
      position: absolute;
      width: 10rem;
      height: 10rem;
      top: -20%;
      right: -15%;
      animation-name: circle;
      animation-duration: 20s;
      animation-iteration-count: infinite;
    }

    @media #{$breakpoint-lg} {
      width: 15rem;
      height: 15rem;
    }
  }
}

.second-image {
  &__wrapper {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;

    @media #{$breakpoint-sm} {
      display: none;
    }

    @media #{$breakpoint-lg} {
      display: block;
      width: 85%;
      display: block;
      margin-top: 3rem;
      margin-bottom: 0;
      margin-left: auto;
    }
  }
}
