@import '/styles/colors';

.bg {
    background-image: url('/images/enigmas/29.jpg');
}

.link {
    display: block;
    width: 20%;
    height: 20%;
    cursor: pointer;
    margin-top: 20%;
}

.modal {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30rem;
    background-color: $white;
    border-radius: 0.5rem;
    padding: 2rem;

    h3 {
        font-size: 0.875rem;
        color: $primary;
        text-transform: uppercase;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.2;
        color: $black;
        margin-bottom: 1.5rem;
    }
}
