@import 'styles/media-queries';

.whatsapp_button {
    position: fixed;
    width: 3.75rem;
    height: 3.75rem;
    bottom: 2.5rem;
    right: 2.5rem;
    background-color: #25d366;
    border-radius: 50%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--color-black);

    @media #{$breakpoint-sm} {
        bottom: 50%;
    }
}
