@import 'styles/media-queries';

.header {
    background-image: url('/images/feature/hero/hero-feature.jpg');
    background-position: center;
    background-size: cover;
    padding: 10rem 0 5rem;
    position: relative;
    overflow: hidden;
    text-align: center;

    @media #{$breakpoint-sm} {
        padding: 12rem 0 8rem;
        text-align: left;
    }

    &-wrapper {
        max-width: $max-width-xsm;
        margin: 0 auto;
        padding: 0 2rem;

        @media #{$breakpoint-sm} {
            max-width: $max-width-sm;
        }

        @media #{$breakpoint-lg} {
            max-width: $max-width-lg;
        }
    }
}

.title {
    font-family: var(--heading-font-face);
    text-transform: var(--heading-text-transform);
    font-size: 1.75rem;
    position: relative;
    z-index: 1;

    @media #{$breakpoint-sm} {
        font-size: 3rem;
        width: 70%;
    }

    @media #{$breakpoint-lg} {
        font-size: 4rem;
    }

    span {
        color: var(--color-primary);
    }
}

.date {
    text-transform: uppercase;
    color: var(--color-white);
    font-size: 0.85rem;
    margin-bottom: 1.5rem;

    span {
        color: var(--color-primary);
    }

    @media #{$breakpoint-sm} {
        font-size: 1rem;
    }
}

.video {
    mix-blend-mode: color-dodge;
    display: none;

    @media #{$breakpoint-sm} {
        display: block;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.button {
    position: relative;
    z-index: 100;

    &__wrapper {
        display: block;
        margin-top: 2rem;
    }
}
