@import 'styles/media-queries';
@import 'styles/colors';

.nav-overlay {
  position: fixed;
  z-index: 999;
  top: 6.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $dark-green;
}

.nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item {
  font-size: 2rem;
  letter-spacing: -0.05em;
  font-weight: 800;
  color: $white;
  margin-bottom: 1rem;
  line-height: 1.5;
  width: fit-content;
}

.nav-item:focus {
  outline: 1px dotted $primary;
}

.nav-active {
  color: $primary;
}

.button {
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;

  @media #{$breakpoint-sm} {
    display: none;
  }
}

.icon {
  color: $white;
  display: block;
}
