@import 'styles/media-queries';

.blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    margin: 8rem auto;
}

.block {
    background-color: var(--color-black-60);
    border: 1px solid rgba(202, 206, 210, 0.2);
    height: 23rem;
    border-radius: 1.25rem;
    padding: 2rem;
}
