@import 'styles/media-queries';

.share {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.text {
    flex: 1 0 100%;

    @media #{$breakpoint-sm} {
        flex: none;
    }
}

.button {
    background-color: var(--color-primary);
    display: inline-block;
    padding: 0.75rem;
    color: var(--color-black);
    border-radius: 2rem;

    &.linkedin-button {
        display: none;

        @media #{$breakpoint-lg} {
            display: inline-block;
        }
    }

    &.download {
        font-size: 1.25rem;
        padding: 0.75rem 1.5rem;
        font-weight: bold;
    }

    &.loading {
        opacity: 0.6;
    }
}
