@import 'styles/media-queries';

.speaker_card {
    border-radius: 10px;
    margin-bottom: 0;
    background-color: black;
    border: 1px solid rgba(202, 206, 210, 0.2);
    padding: 32px 32px 26.5px 26.5px;
    border-radius: 20px;

    @media #{$breakpoint-lg} {
        margin-bottom: 10rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h5,
    small {
        display: block;
        color: var(--color-white);
    }

    .container {
        margin: 0;
    }

    .image_wrapper {
        img {
            border-radius: 10px;
        }
        .host {
            display: block;
            bottom: 1rem;
            right: 1rem;
            padding: 0 0.5rem;
            background-color: var(--color-primary);
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: bold;
        }
    }

    .title {
        grid-area: title;
        margin-bottom: 0.5rem;
    }

    .about {
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10;
        padding: 10px 0 0 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 94.69%);
        span {
            color: var(--color-primary);
        }
    }
}

.social {
    position: absolute;
    display: none;
    top: 50%;
    transform: translate(0%, -50%);
    right: -15%;
    grid-area: social;
    align-self: flex-end;

    @media #{$breakpoint-lg} {
        display: block;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
    }

    li {
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            opacity: 1;
            padding: 1rem;
            border-radius: 50%;
            display: block;
            transition: all 0.2s ease-in-out;
            background-color: var(--color-primary);

            &:hover {
                transition: all 0.2s ease-in-out;
            }
        }
    }

    &.horizontal {
        position: static;
        transform: none;
        display: block;
        grid-area: auto;

        ul {
            flex-direction: row;
            gap: 0.5rem;
            justify-content: center;
            padding: 0;

            @media #{$breakpoint-lg} {
                transform: translateX(-1rem);
            }

            li {
                margin-bottom: 0;
            }
        }
    }
}
