@import 'styles/media-queries';

.header {
    margin: 4rem 0;

    @media #{$breakpoint-sm} {
        margin: 8rem 0;
    }

    &.smaller {
        margin: 3rem 0;

        @media #{$breakpoint-sm} {
            margin: 3rem 0;
        }
    }
}

.header-text {
    max-width: $max-width-sm;
    margin: 3rem auto;

    @media #{$breakpoint-sm} {
        max-width: $max-width-xsm;
    }

    @media #{$breakpoint-lg} {
        max-width: $max-width-xsm;
    }
}

.hero {
    color: var(--color-white);

    &.smaller {
        font-size: 3rem;
        margin-bottom: 0;
    }

    span {
        color: var(--color-primary);
    }
}

.description {
    font-size: 1.25rem;
    color: var(--color-gray);

    @media #{$breakpoint-sm} {
        max-width: 85%;
        font-size: 1.5rem;
    }
}
