

.editor {
  padding: 1rem;
  background-color: #000;
  border-radius: 0.5rem;
}

.button {
  margin-top: 1rem;
  margin-right: 1rem;
  -webkit-appearance: none;
  border: 0;
  background-color: var(--color-primary);
  font-weight: bold;
  line-height: 1.8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.15rem 1.5rem;
  color: var(--color-dark-gray);
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 0;

  &:hover {
    background-color: var(--color-white);
  }
}
