@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'reset';
@import 'media-queries';
@import 'typography';

:root {
    --color-black: #000000;
    --color-dark-gray: #0e1116;
    --color-gray: #8b949e;
    --color-ligth-gray: #caced2;
    --color-white: #ffffff;
    --color-black-60: rgba(0, 0, 0, 0.6);
    --color-black-40: rgba(0, 0, 0, 0.4);
}

.theme-digital {
    background-image: url('/images/bg-digital.jpg');
}

.theme-summit {
    background-image: url('/images/bg-summit.jpg');
}

.theme-feature {
    background-image: url('/images/bg-feature.jpg');
}

.theme-ia {
    background-image: url('/images/ia/bg-ia.png');
    background-position: right 10%;
    background-repeat: no-repeat;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--color-background);
    color: var(--color-white);
}

section {
    margin: 4rem 0;

    @media #{$breakpoint-sm} {
        margin: 8rem 0;
    }
}

.container {
    padding: 0 2rem;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width-xsm;

    @media #{$breakpoint-sm} {
        max-width: $max-width-sm;
    }

    @media #{$breakpoint-lg} {
        max-width: $max-width-lg;
    }
}

.container-text {
    max-width: $max-width-sm;
    margin: 3rem auto;

    @media #{$breakpoint-sm} {
        max-width: $max-width-xsm;
    }

    @media #{$breakpoint-lg} {
        max-width: $max-width-xsm;
    }

    h2 {
        text-transform: uppercase;
        color: var(--color-primary);
        letter-spacing: 0.5rem;
        margin-bottom: 0;
        font-size: 3rem;
    }

    h3 {
        margin-bottom: 2rem;
        color: var(--color-ligth-gray);
        font-weight: normal;
    }
}

::selection {
    background-color: var(--color-primary);
    color: #fff;
}

a {
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--color-primary);

    &.link {
        text-decoration: underline;
    }
}

#nprogress {
    pointer-events: none;

    .bar {
        background: var(--color-primary);
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }
}

*.tooltip {
    position: relative;
}

*.tooltip:before {
    content: attr(data-content);
    background-color: var(--color-gray);
    color: var(--color-white);
    font-size: 0.75rem;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 2.875rem;
    width: max-content;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
}

*.tooltip:after {
    content: '';
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    left: 50%;
    bottom: 2.25rem;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--color-gray) transparent;
    transition: all 0.4s ease;
    transform: rotate(180deg) translate(50%);
}

*.tooltip:hover:after,
*.tooltip:hover:before {
    opacity: 1;
    visibility: visible;
}
