$light-green: #2bd376;
$dark-green: #143324;

$light-gray: #c4c4c4;
$dark-gray: #707070;

$white: #ffffff;
$black: #0e1116;

$primary: $light-green;

$main-black: #000000;
$main-black-light: #0e1116;
$main-white: #ffffff;
$main-gray-dark: #8b949e;
$main-gray-light: #caced2;
$digital-primary: #45e27f;
$summit-primary: #8800ff;
$feature-primary: #0055ff;
