@import 'media-queries';

@font-face {
    font-family: 'Jost';
    src: url('/fonts/jost-900-black-webfont.woff2') format('woff2'),
        url('/fonts/jost-900-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/jost-900-blackitalic-webfont.woff2') format('woff2'),
        url('/fonts/jost-900-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Metana';
    src: url('/fonts/neuemetana-bold-webfont.woff2') format('woff2'),
        url('/fonts/neuemetana-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/fonts/neuemachina-ultrabold-webfont.woff2') format('woff2'),
        url('/fonts/neuemachina-ultrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: var(--heading-font-face);
    text-transform: var(--heading-text-transform);
    font-size: 2rem;
    line-height: 1;
    margin-bottom: 1.5rem;

    span {
        color: var(--color-primary);
    }

    @media #{$breakpoint-sm} {
        font-size: 3rem;
    }

    @media #{$breakpoint-lg} {
        font-size: 4rem;
    }
}

h2 {
    font-family: var(--heading-font-face);
    text-transform: var(--heading-text-transform);
    font-size: 1.5rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;

    span {
        color: var(--color-primary);
    }

    @media #{$breakpoint-sm} {
        font-size: 2rem;
    }

    @media #{$breakpoint-lg} {
        font-size: 2.5rem;
    }
}

h3 {
    font-family: var(--heading-font-face);
    text-transform: var(--heading-text-transform);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.highlight {
    text-transform: uppercase;
    color: var(--color-primary);
    letter-spacing: 0.1rem;
    margin-bottom: 2.5rem;
    display: block;
}

.headline {
    display: block;
    font-size: 1.25rem;
    color: var(--color-gray);

    @media #{$breakpoint-sm} {
        font-size: 1.5rem;
    }
}

.bullet {
    color: var(--color-primary);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    color: var(--color-light-gray);

    & + p {
        margin-top: 1rem;
    }
}

.text-center {
    text-align: center;
}
