.layout {
    background-color: #000;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url('/images/enigmas/bg.jpg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.content-bg {
    padding-top: 3rem;
    display: flex;
    flex-grow: 1;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 45vh;
    }
}

.form {
    margin: 0 auto;
}

.content p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}
