.layout {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    background-image: url('/images/enigmas/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto;
}

.form {
    margin: 3rem auto;
}

.content p {
    font-size: 1.2rem;
    line-height: 2.5rem;
}