.logo {
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    width: 20rem;
}

.text {
    line-height: 1.15;
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
}

.text-secondary {
    color: var(--color-primary);
}
